includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    checkModelProperties: false

    paths:
        - packages/nidavellir/nidavellir-trading

    # Level 9 is the highest level
    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
